# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Logs or temporary files

*.log

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

